name: NotEnoughUpdates REPO Workflow

# Controls when the action will run. 
on:
  pull_request_target:
    branches: [ master ]
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

    - name: run-checks
      uses: NotEnoughUpdates/NotEnoughUpdates-REPO-Workflow@main
      with: 
        repo-token: ${{secrets.GITHUB_TOKEN}}
